/*
 
 // MOVED TO IMAGEMANAGER
 
 .ImageItem{
	float: left;
	position: relative;
	padding: 0px;
	margin: 10px;
	width: 225px;
	height: 110px;
	border: 1px solid #cccccc;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	background-image: url('icons/llx-client16.png') !important;
}

.NewImageItem{
	float: left;
	position: relative;
	padding: 0px;
	margin: 10px;
	width: 225px;
	height: 110px;
	border: 1px solid #cccccc;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	background-image: url('icons/icon_new.png') !important;
}
*/

.ItemName{
	float: left;
	clear: both;
	font-size: 1.1em;
	color: #333333;
	font-weight: 500;
	position: absolute;
	top: 0px !important;
	margin: 0px !important;
	height: 18px !important;
}

.desc{
	padding-top: 5px;
	font-size: 0.8em;
	color: #000000;
	/*background-color: #ff0000;
	/*height: 95px;*/
	overflow-x: hidden;
	overflow-y: auto;
	height: 82px;
	
	background: rgba(255,255,255,0.5);
	margin: 0px 3px 0px 3px;
	
	
}

.slide{
	z-index: 1;
	background: rgba(255,255,255,0.8);
	padding: 10px 0px 10px 0px;
	text-align: center;
	height: 0px;
	margin-top: 110px;
	width: 100%;
	position: absolute;
	
	/*		
	position: absolute;
	background-color: #faaaaa;
	height: 0px;
	width: 100%;
	overflow: hidden;
	margin-top:110px;
	display: block;*/
}
/*.prueba{
	background: rgba(255,255,255,0.5);
	margin: 0px 5px 0px 5px;
	
	height: 100%;
}*/


.buttonPanel{
	float: left;
	display: block;
	width: 225px;
	height: 70px;
	margin: 0px 5px 5px 5px;
}

.template_button_panel{
	position: relative;
	display: block;
	float: left;
	font-size: 0.8em;
	color:#ffffff;
	margin: 1px;
	padding: 1px 1px 1px 1px;
	width: 70px;
	height: 35px;
	border: 0px;
	overflow: hidden;
	/*text-shadow: none;*/
	border-radius: 4px;
	text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;

}
.template_button_panel:hover{cursor: pointer;}

/*.template_button_panel > *{
	margin: 0px 5px 0px 5px;
}*/