

.TemplateContent{
 margin: 20px;
}

.TemplateItem{
	float: left;
	position: relative;
	margin: 10px;
	width: 235px;
	height: 110px;
	border: 1px solid #cccccc;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

.TemplateIconText{
	clear: both;
	text-align: Left;
	font-size: 1.1em;
	color: #333333;
	font-weight: 500;
	/*position: relative !important;*/
	position: absolute;
	top: 0px !important;
	margin: 0px !important;
	height: 18px !important;
}

.TemplateDesc{
	padding-top: 5px;
	font-size: 0.9em;
	/*background-color: #ff0000;*/
	height: 50px;
	overflow: hidden;
}

.TemplateButtonList{
	height: 0px;
	margin-top: -15px;
	/*background: #00ff00;*/
	font-size: 1.5em;
}


.TemplateIconSlide{
	background: rgba(255,255,255,0.8);
	height: 0px;
	font-size: 0.7em;
	overflow: hidden;
	position: relative;
	margin-top: 110px;
	padding: 5px;
}


/* Buttons */
.template_button{
	position: relative;
	display: block;
	float: left;
	font-size: 0.8em;
	color:#ffffff;
	margin: 1px;
	padding: 1px 1px 1px 1px;
	width: 70px;
	height: 35px;
	border: 0px;
	overflow: hidden;
	border-radius: 4px;
	border-color: 1px #b2b2b2;
	text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
	
	


}
.template_button:hover{cursor: pointer;}

.template_button > *{
	margin: 0px 5px 0px 5px;
}

.lmdblue{
	background-image:-webkit-linear-gradient(top, #68c5ca, #328da2);
	/*background: #2f91f5;*/
	border: solid 1px #b2b2b2;}
.lmdblue:hover{background: #50acbb;}

.green{background: #418b5d;
	border 1px #b2b2b2 solid;
	background-image:-webkit-linear-gradient(top, #99e8a6, #418b5d);
	/*border: solid 1px #2f7d04;*/
	}
.green:hover{
	background: #418b5d;
	/*background-image:-webkit-linear-gradient(top, #418b5d,#99e8a6);*/
}

.red{
	background: #a0424e;
	background-image:-webkit-linear-gradient(top, #efa6c4, #a0424e);
	/*background: #f53741;
	border: solid 1px #a51923;*/
	}
	
.red:hover{/*background: #a51923;*/
	background: #a0424e;
	/*background-image:-webkit-linear-gradient(top, #900b0b, b30e0e);*/
	}

.orange{
	background: #b93c0a;
	background-image:-webkit-linear-gradient(top, #fbb152,#efa03a);
}
.orange:hover{
	background: #efa03a;
}

table.template_editor {
	font-size: 1em;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	padding: 0px;
}
table.template_editor th{
	border-width: 1px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
	padding: 0px;
}

table.template_editor td {
	border-width: 1px;
	padding: 0px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

table td.left{
	width: 200px;
	font-weight: bold;
}
table td.right{
	width: 590px;	
}

table td.delete{
	width: 10px;
	color: #a51923;
	border: 0px;
	padding: 3px;
}

table td.delete:hover{
	cursor: pointer;
}

.table_edit{
	width: 100%;
	border: 0px;
    -webkit-box-sizing:border-box;
}
