Source: lmd
Section: misc
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.7

Package: lmd
Depends: lmd-server, lmd-manager-cli, lmd-lliurex-data
Architecture: all
Description: LMD Metapackage
 This package contains all dependencies to prepare 
 an LTPS/LMD server.


Package: lmd-server
Depends: ${misc:Depends}, dnsmasq, ltsp-server-standalone, ltsp-server, php7.2-cli, apache2, libapache2-mod-php7.2, n4d-remote-gui-plugin, llx-netinstall ( >= 0.21), n4d-lliurex-base ( >= 0.6 ), python3, syslinux-common, llx-bootmanager (>>0.1), util-linux, python3-apt,  xpra ( >= 0.17.3-1), n4d-taskscheduler-server, n4d-taskscheduler-client
Conflicts: lliurex-ltsp, n4d-ltsp-plugins
Replaces: lliurex-ltsp, n4d-ltsp-plugins
Architecture: all
Description: LMD - LTSP Management for Dummies.
 This package gives support to Thin and Fat
 Thin Clients Management.

Package: lmd-manager-cli
Depends: ${misc:Depends}, n4d-remote-gui-plugin (>=0.3), python3
Conflicts: lliurex-ltsp-admin
Architecture: all
Description: LMD - LTSP Management for Dummies. Cli tools.
 LMD gives support to Thin and Fat
 Thin Clients Management. This package
 offers CLI tools to manage LMD.

#Package: lmd-manager-gui
#Depends: ${misc:Depends}, nwjs0.12, lmd-manager-cli, n4d-remote-gui-plugin, llx-bootmanager-gui, n4d-lliurexberry, lmd-lliurex-data
#Conflicts: lliurex-ltsp-admin
#Replaces: lliurex-ltsp-admin
#Architecture: all
#Description: LMD - LTSP Management for Dummies. Gui tools.
# LMD gives support to Thin and Fat
# Thin Clients Management. This package
# offers GUI tools to manage LMD.

Package: lmd-lliurex-data
Depends: ${misc:Depends}, lmd-server, lliurex-preseed-common (>= 0.17)
Conflicts: lliurex-ltsp
Architecture: all
Description: LMD - LTSP links and data for LliureX.
 This package contains all cool data, links
 and templates to working with LMD in LliureX.

Package: lmd-usb-mount-disabler
Depends: ${misc:Depends}
Architecture: all
Replaces: lliurex-up
Description: Disable usb mounts for thin clients.
 This Package write gconf configuration to disable automount usb devices 
 on thin clients

Package: admin-center-ltsp
Depends: ${misc:Depends}, admin-center
Architecture: all
Description: LMD - LTSP Module for admin-center.
 LTSP gives support to Thin and Fat
 Thin Clients Management. This package
 offers a module for Admin Center to
 manage LTSP.

Package: vnc-disable-composite
Depends: ${misc:Depends}
Architecture: all
Description: Plasma disabler composite during vnc session.
 Xdg autostart script that disables composition 
 on vnc sessions invoking dbus method.


